@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Noto+Sans+KR&display=swap');
:root {
	--titColor: #111;
	--bodyColor: #555;
	--borderColor: #bbb;
	--pointColor: orangered;
	--titFont: 'Nanum Myeongjo', 'serif', '명조';
	--bodyFont: 'Noto Sans KR', 'arial', '돋움';
}
html {
	font-size: 16px;
}
$tablet: 1199px;
$mobile: 739px;
