@import 'reset';
@import 'variable';

main {
	width: 70vw;
	margin: 20px auto;

	h1 {
		width: 100%;
		font-size: 4rem;
		font-weight: normal;
	}

	section {
		width: 100%;
		display: flex;
		flex-wrap: wrap;

		.box {
			padding: 20px;
			display: flex;
			flex: wrap;
			justify-content: space-between;

			h2 {
				width: 30%;
				font-size: 1.5rem;
				font-weight: normal;
			}

			div {
				width: 30%;
				font-size: 0.6rem;
				display: flex;
				flex-wrap: wrap;
				align-content: space-between;
			}

			.pic {
				width: 30%;
				height: 20vh;

				img {
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}
